@model IEnumerable<_inst.Models.Post.PostIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create" asp-controller="Posts">Добавить пост</a>

<div id="posts">
        
    </div>
@section scripts
{
    <script>
        function showPosts() {
            $.ajax({
                type: "GET",
                url: "/Posts/GetPosts",
                success: function(res) {
                    $("#posts").html(res);
                }
            });
        }

        function onCreateCommentHandler(id) {
            var text = document.querySelector('#comment').value;
            var object = new Object();
            object.Text = text;
            object.PostId = id;

            $.ajax({
                type: "POST",
                url: "/Comments/CreateComment",
                data: { comment:object },
                success: function(result) {
                    showPosts();
                },
                error: function() {
                    alert("Ошибочка");
                }
            });
        };
        function onLikeHandler(id, e) {
            var url = '@Url.Action("AddLike", "Posts")?id=' + id;
            $.ajax({
                type: "GET",
                url: url,
                success: function(res) {
                    showPosts();
                },
                error: function(res) {
                    alert("Error");
                }
            });
        }

        likeThisPostHandler = (e) => {
            if (e.target.classList.contains('like')) {
                e.preventDefault();
                var parent = e.target.closest(".post-item");
                onLikeHandler(parent.id);
            } else if (e.target.classList.contains('createPost')) {
                e.preventDefault();
                var parent = e.target.closest(".post-item");
                onCreateCommentHandler(parent.id);
            }
        }

        showPosts();
        var cardRow = document.querySelector("#posts").addEventListener("click", likeThisPostHandler);
    </script>
}