@model IEnumerable<_inst.Models.Comment.CommentIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Коментарии</h1>

<div class="container-sm">
    @foreach (var item in Model)
    {
        <div class="alert alert-secondary" role="alert">
            <strong>@item.CommentAuthor</strong> @item.Text <br/>
            <small>@item.CreationDate</small>
        </div>
    }
</div>

<div>
    <a asp-action="Index" asp-controller="Posts">Вернуться назад</a>
</div>
